<h1>Kirjaudu sisään</h1>

<p id="notice"></p>

<%= form_tag session_path do %>
  käyttäjänimi <%= text_field_tag :username, params[:username], class:"form-control" %>
  salasana <%= password_field_tag :password, params[:password], class:"form-control" %>
</br>
  <%= submit_tag "Kirjaudu sisään", class:"btn cool_button" %>
<% end %>

