<% if current_user && @open_job.company.users.includes(current_user) %>
  <h1> <%= @open_job.name %> ylläpito</h1>

       <%= link_to 'Poista avoin työpaikka', @open_job , method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger", style:"color:white;"%>
       <% if can? :edit, @open_job %>
         <%= link_to 'Edit', edit_open_job_path(@open_job), 'data-no-turbolink' => true  %> 
       <% end %>
	<h3> Hakemukset </h3>
	<% @open_job.applications.each do |a| %>
		<%= link_to a.id, a %> </br>
	<% end %>

<% else %>
 Et ole ylläpitäjä.
<% end %>