<p id="notice"><%= notice %></p>

<script>


  var myApp = angular.module('myApp', []);

  myApp.controller("OpenJobsController", function ($scope, $http) {
    $http.get('open_jobs.json').success( function(data, status, headers, config) {
      $scope.open_jobs = data;
    });

    $scope.order = 'name';

    $scope.sort_by = function (order){
      $scope.order = order;
      console.log(order);
    }

    $scope.searchText = '';
  });
</script>

<h2>Open positions</h2>

<div ng-app="myApp" ng-controller="OpenJobsController">

  search:  <input ng-model="searchText">

  <table class="table table-hover">
    <thead>
    <th> <a ng-click="sort_by('name')">name</a> </th>
    <th> <a ng-click="sort_by('company.name')">company</a> </th>
    <th> <a ng-click="sort_by('company.location')">location</a> </th>
    </thead>
    <tr ng-repeat="open_job in open_jobs| orderBy:order | filter:searchText">
      <td><%= link_to '{{open_job.name}}', 'open_jobs/{{open_job.id}}' %></td>
      <td><%= link_to '{{open_job.company.name}}', 'companies/{{open_job.company.id}}' %></td>
      <td>{{open_job.company.location}}</td>
    </tr>
  </table>

</div>

<br>