<p id="notice"><%= notice %></p>

<div style="font-family:fontawesome-webfontti">
<div class="container wb" >
    <div class="row centered">
      <br><br>
      <div class="col-lg-8 col-lg-offset-2">
        <h1><font family="fontawesome-webfontti">NYYMI</font></h1>
        <h3>Valitse taito, älä ennakkoluuloja</h3>
        <p>Uuden ajan rekrytointisovellus, jonka avulla voit hakea töitä sekä rekrytoida niin, että kaikki hakijoiden sukupuolen, iän ja etnisen alkuperän kertovat tiedot on piilotettu työhaastatteluun asti. </p>
        <p></p>
      <p><br/><br/></p>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-10 col-lg-offset-1">
        <!--<img class="img-responsive" src="app/assets/images/munter.png" alt=""> -->
        <%= image_tag("redsilhuette.png", class:"img-responsive", :width=>"70px") %>
      </div>
    </div><!-- row -->
  </div><!-- container -->

  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-4">
        <i class="fa fa-heart"></i>
        <h4>MAAHANMUUTTAJAT</h4>
        <p>Et vie suomalaisten töitä vaan ansaitset ne.</p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-laptop"></i>
        <h4>NAISET</h4>
        <p>Nyymissä et törmää lasikattoon. </p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-trophy"></i>
        <h4>TRANSIHMISET</h4>
        <p>Prosessi kesken? Nyymissä et joudu selittelemään. </p>
      </div><!-- col-lg-4 -->
    </div><!-- row -->
    <br>
    <br>
  </div><!-- container -->
</div>