<p id="notice"><%= notice %></p>

<div style="font-family:fontawesome-webfontti">
<div class="container wb" >

    <div class="row centered">
      <br><br>
      <div class="col-lg-8 col-lg-offset-2">
        <h1><font family="fontawesome-webfontti">NYYMI</font></h1>
        <h3>Valitse taito, älä ennakkoluuloja</h3>
        <p>Uuden ajan rekrytointisovellus, jonka avulla voit hakea töitä sekä rekrytoida niin, että kaikki hakijoiden sukupuolen, iän ja etnisen alkuperän kertovat tiedot on piilotettu työhaastatteluun asti. Ei enää hakemusten sensurointia käsin! </p>
        <p></p>
      <p><br/><br/></p>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-10 col-lg-offset-1">
        <!--<img class="img-responsive" src="app/assets/images/munter.png" alt=""> -->
        <%= image_tag("redsilhuette.png", class:"img-responsive", :width=>"70px") %>
      </div>
    </div><!-- row -->
  </div><!-- container -->

  <div class="container w">
    <div class="row centered">
      <div class="col-lg-4">
        <i class="fa fa-heart"></i>
        <h4>MAAHANMUUTTAJAT</h4>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-laptop"></i>
        <h4>NAISET</h4>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-trophy"></i>
        <h4>KAIKKI</h4>
      </div><!-- col-lg-4 -->
    </div><!-- row -->

  </br></br>

  <% if not current_user %>
  
    <div class="row centered">
      <div class="col-lg-4">
        <!--<i class="fa fa-heart"></i> -->
        <h4></h4>
        <p></p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4" style="background-color:#EEA236;  border: 1px solid #E0E0E0;" id="signup_button">
        <!--<i class="fa fa-laptop"></i> -->
      </br>
        <h4 style="color:white;">REKISTERÖIDY</h4>
        <p></p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4">
        <!--<i class="fa fa-trophy"></i> -->
        <h4></h4>
        <p> </p>
      </div><!-- col-lg-4 -->
    </div><!-- row -->
    <% end %>
    
  </div><!-- container -->
</div>

<script>
$(document).ready(function(){
    $("#signup_button").click(function(){
        window.location.assign("/signup");
    });

     $("#signup_button").hover(function(){
      //  text-decoration: none;
      // #E0E0E0
        $(this).css("background", "#EEEEEE");
        $(this).css("text-decoration", "none");
        $(this).css("color", "#E0E0E0");
    }, function(){
        $(this).css("background", "#EEA236");
        $(this).css("color", "white");
    });
});

</script>