<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Your company has new application in Nyymi. Check it in https://nyymi.herokuapp.com/. 
  </body>
</html>