<p id="notice"></p>

<h1>
  <%= @user.username %>
</h1>

<% if @user == current_user %>
	<%= @user.realname %> </br>
	<%= link_to 'Muokkaa tietoja', edit_user_path(@user), class:"btn cool_button", style:"color:white;" %>  </br></br>
<% end %>

<%= link_to 'Back', root_path %>
