<h1>Nyymistä </h1>

Nyymin avulla voit laittaa avoimet työpaikkasi hakuun niin, että hakijoiden hakemuksista piilotetaan nimi, muut yhteystiedot sekä opiskelupaikan nimi. Et joudu enää sensuroimaan hakemusten tietoja käsin yrityksessäsi. Saat kuitenkin tarkat tiedot hakijoiden työkokemuksista sekä opiskelualasta. Voit keskustella hakijoiden kanssa chatissa hakijalle anonyymisti esimerkiksi työhaastattelukutsusta. 

<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('f510b36c2a7566d4a93a', {
      encrypted: true
    });
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  </script>
</head>